
@font-face {
    font-family: "lobster";
    src: url(font/Lobster-Regular.ttf);
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-family: "lobster";
    
}

.container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}

.container img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}


.container button {
    position: absolute;
    top: 90%;
    left: 27%;
    padding: 20px 50px;
    transform: translate(-50%, -50%);
    color: rgb(207, 156, 80);
    font-weight: bold;
    z-index: 2;
    border: 2px solid burlywood;
    background: none;
    overflow: hidden;
}

.container button::after {
    content: '→';
    position: absolute;
    left: 75%;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease;
    opacity: 1;
}

.container button:hover::after {
    left: 100%;
    opacity: 0;
}

@media screen and (max-width: 1000px) {
    
    .container button {
        top: 87%;
        left: 27%;
    }

    .container button::after {
        content: '→';
        position: absolute;
        left: 79%;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.5s ease;
        opacity: 1;
    }
}

@media screen and (max-width: 833px) {
    
    .container img{
        padding-top: 220px;
        padding-left: 120px;
        width: 70%;
    }
    
    .container button {
        top: 90%;
        left: 40%;
        padding: 15px 33px;
    }

}

@media screen and (max-width: 600px) {
    
    
    
    .container button {
        top: 93%;
        left: 40%;
        padding: 12px 30px;
    }

}

@media screen and (max-width: 420px) {
    
    
    .container button {
        top: 93%;
        left: 54%;
        padding: 10px 29px;
    }

}

@media screen and (max-width: 350px) {
    
    
    .container button {
        top: 94%;
        left: 55%;
        padding: 7px 29px;
    }

}

/*CSS DE LA PAGE HISTOIRE*/

/* CSS for the story page */

.story {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15%;
}



.story h2 {
    color: burlywood;
    font-size: 2em;
    margin-bottom: 20px;
}

.story p, li {
    color: rgb(209, 164, 104);
    font-size: 1.2em;
    text-align: justify;
}

.story .author {
    font-size: 1em;
    color: #999;
    margin-top: 10px;
}

.story-section {
    text-align: center;
 }

 hr{
    border-color:burlywood;
    width: 85%;
 }

 