body {
    font-family: 'Lato', sans-serif; /* Utilisation de la police principale Lato */
    margin: 0;
    padding: 0;
    background-color: #FFFFFF; /* Utilisation du blanc pour l'arrière-plan */
    color: #000000; /* Utilisation du noir pour le texte principal */
}

header {
    background-color: #339933; /* Utilisation du vert Matcha pour l'en-tête */
    color: #FFFFFF;
    padding: 20px;
    text-align: center; /* Centrage du texte dans l'en-tête */
}

header nav {
    float: right;
}

header nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #FFFFFF;
}

header nav a:hover {
    color: #ccc;
}

.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.contact-container {
    display: flex;
    max-width: 1200px;
}

.contact-text {
    flex: 1;
    padding-right: 20px;
    border-right: 1px solid #4D4D4D; /* Utilisation du gris foncé pour la bordure verticale */
}

.contact-form {
    flex: 1;
    padding-left: 20px;
}

.contact-form h2 {
    margin-top: 0; /* Supprime la marge supérieure par défaut du titre */
}

.contact-form form {
    width: 100%;
    max-width: 400px; /* Ajustez la largeur du formulaire selon vos besoins */
    margin: 0 auto; /* Centre le formulaire horizontalement */
}

.contact-form form label {
    display: block;
    margin-bottom: 10px;
}

.contact-form form input,
.contact-form form textarea {
    width: calc(100% - 20px); /* Ajuste la largeur des champs du formulaire */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.contact-form form button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #339933; /* Utilisation du vert Matcha pour le bouton */
    color: #FFFFFF; /* Utilisation du blanc pour le texte du bouton */
    border: none;
    cursor: pointer;
}

.contact-form form button:hover {
    background-color: #4D4D4D; /* Légère variation de couleur au survol */
}

.contact-section {
    display: flex;
    flex-direction: column; /* Affiche les éléments en colonne */
    align-items: center; /* Centre les éléments horizontalement */
    text-align: center; /* Centre le texte horizontalement */
    padding: 50px;
}

.contact-section h2 {
    font-size: 36px; /* Taille de la police */
    margin-bottom: 30px; /* Ajoute un espace en dessous du titre */
}

p {
    font-size: 16px; /* Taille de la police */
    color: #000000; /* Couleur du texte */
    font-family: 'Latos', sans-serif; /* Famille de police */
    font-weight: normal; /* Poids de la police */
    letter-spacing: 1px; /* Espacement entre les lettres */
    margin: 0; /* Supprime les marges par défaut */
    padding: 10px; /* Ajoute un peu de rembourrage pour l'espace autour du texte */
}
