#profil {
    text-align: center; /* Centre tout le contenu horizontalement */
    height: 100vh; /* Utilise la hauteur de la fenêtre */
}

#profil form {
    width: 300px; /* Ajuste la largeur du formulaire */
    margin: auto; /* Centre le formulaire horizontalement */
}

#profil form label {
    display: block; /* Affiche chaque étiquette sur une nouvelle ligne */
    margin-bottom: 10px; /* Ajoute un espacement entre les étiquettes */
}

#profil form input {
    width: 100%; /* Ajuste la largeur des champs de saisie */
    padding: 10px; /* Ajoute un espace autour des champs de saisie */
    margin-bottom: 15px; /* Ajoute un espacement entre les champs de saisie */
}

#profil form button {
    width: 100%; /* Ajuste la largeur du bouton */
    padding: 10px; /* Ajoute un espace autour du bouton */
}


.profile-picture {
    position: relative;
    width: 150px; /* Ajuste la taille de la photo de profil */
    height: 150px;
    overflow: hidden;
    border-radius: 50%; /* Rend la photo de profil ronde */
    margin: auto; /* Centre la photo de profil horizontalement */
}


.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent noir */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Masque l'overlay par défaut */
    transition: opacity 0.3s ease; /* Animation de transition */
}

.overlay p {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.profile-picture:hover .overlay {
    opacity: 1; /* Affiche l'overlay au survol */
    cursor: pointer; /* Change le curseur au survol */
}
